.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* .anime-card-container{
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
} */

.anime-card-container{
  -webkit-overflow-scrolling: touch;
}

.anime-card-container::-webkit-scrollbar {
  display: none;
}

.anime-card-container -webkit-scrollbar {
  display: block;
  }
.anime-card {
  width: 300;
  height: 400px;
  margin: 20px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



